<div class="flex mt-40">
    <div class="mx-auto">
        <.form
            for={@form}
            id="topic-form"
            phx-submit="goto_topic"
        >
            <.input value="" placeholder="Enter your topic name.." name="topic_name" />
            <br/>
            <.button type="submit">Join Topic</.button>
        </.form>
    </div>
</div>